#container{
    height: calc(100vh - 110px);
    display: grid;
    /*Estoy diciendo que tengo 2,2 unidades fraccionarias para dividir, 
    de eso a uno le doy 1,2 a una parte y 1 a otro*/
    grid-template-columns: 1.2fr 1fr;
    align-items: center; //alineamos todos los elementos en el centro de la grilla
    background: repeating-linear-gradient(
        0deg,
        #79a0e3 0px,
        #79a0e3 10px,
        #668cd7 10px,
        #668cd7 50px,
        #79a0e3 50px,
        #79a0e3 60px,
        #5576c5 60px,
        #5576c5 90px,
        #79a0e3 90px,
        #79a0e3 100px,
        #4c69b8 100px,
        #4c69b8 140px,
        #79a0e3 140px,
        #79a0e3 150px,
        #4660b4 150px,
        #4660b4 160px,
        #79a0e3 160px,
        #79a0e3 170px,
        #5576c5 170px,
        #5576c5 190px,
    );
}

//podemos manipular el conponente, porque al final es una etiqueta mas del componente padre
app-foto-pokemon{
    margin-left: 100px;
}

#tarjetaContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;

    /*Scroll para que se genere una barra de scroll en el contenedor de tarjetas*/
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#spinner{
    max-height: 50px;
}