<main id="container">
    <!--Como solo vamos a tener una sola ventana de imagen de pokemon
    mandamos a llamar al componente una sola vez-->
    <app-foto-pokemon></app-foto-pokemon>
    <!--Un contenedor para contener todas las tarjetas del pokemon-->
    <div id="tarjetaContainer">
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
    </div>
</main>
